<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href={{ s }}>
<body>
	<div align="center" class="jumbotron">
		<h2> Playlistr </h2>
	</div>
	<div align="center" style=" height=10cm; width:75%; margin:0 auto;" class="form">
		<form action="." method="POST">
			<textarea class="form-control" name="text">Paste your tracklist here.</textarea>
			<!-- <input type="text" name="text"> -->
			<br>
			<input type="submit" name="form" value="Send">
		</form>
	</div>
</body>
</html>
