<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href={{ bs }}>
<head>
<title>Playlistr</title>
</head>
<body>
	<div align="center" class="jumbotron">
		<h1> Playlistr </h1>
		<br>
		<p>Paste your tracklist below to turn it into a Youtube Playlist!</p>
	</div>
	<div align="center" style="width:75%; margin:auto" class="form">
		<form action="." method="POST">
			<textarea style="width:65%; height:8cm;" class="form-control" name="text"
				placeholder="Paste your tracklist here."></textarea>
			<br>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>

